/* Estilos dos botões */
.filter-buttons {
    display: flex;
    gap: 8px;
    margin: 20px 0;
    flex-wrap: wrap;
  }
  
  .filter-buttons .ant-btn {
    background-color: #1c1c1c;
    color: #ffe81f;
    border: none;
    transition: background-color 0.3s;
  }
  
  .filter-buttons .ant-btn:hover {
    background-color: #ffe81f;
    color: #000;
  }
  
  .filter-buttons .active {
    background-color: #ffe81f;
    color: #000;
  }
  
  /* Fundo para diferentes filtros */
  .bg-characters {
    background-color: #3a3a3a; /* cinza escuro */
  }
  
  .bg-planets {
    background-color: #0d47a1; /* azul escuro */
  }
  
  .bg-starships {
    background-color: #4a148c; /* roxo */
  }
  
  .bg-films {
    background-color: #b71c1c; /* vermelho */
  }
  
  /* Versão responsiva */
  @media (max-width: 768px) {
    .filter-buttons {
      flex-direction: column;
      align-items: center;
    }
  
    .filter-buttons .ant-btn {
      width: 100%;
      margin-bottom: 8px;
    }
  }
  